.mb-4 {
  margin-bottom: 1rem
}

.inline {
  display: inline
}

.flex {
  display: flex
}

.h-full {
  height: 100%
}

.w-full {
  width: 100%
}

.flex-1 {
  flex: 1 1 0%
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.rounded-lg {
  border-radius: 0.5rem
}

.border {
  border-width: 1px
}

.border-2 {
  border-width: 2px
}

.border-red-500 {
  --tw-border-opacity: 1;
  border-color: rgb(239 68 68 / var(--tw-border-opacity, 1))
}

.border-red-500\/100 {
  border-color: rgb(239 68 68 / 1)
}

.bg-blue-500\/100 {
  background-color: rgb(59 130 246 / 1)
}

.bg-green-200\/100 {
  background-color: rgb(187 247 208 / 1)
}

.p-3 {
  padding: 0.75rem
}

.p-4 {
  padding: 1rem
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

.text-center {
  text-align: center
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-red-500\/100 {
  color: rgb(239 68 68 / 1)
}

.text-white\/100 {
  color: rgb(255 255 255 / 1)
}

.underline {
  text-decoration-line: underline
}
